# Tuple

1. tuple is a class
2. tuple is iterable
3. tuple is immutable
4. tuple is hashable
5. tuple is a sequence

### How to create a tuple

In [3]:
t1 = (1, 2, 5, 7) # normal tuple
t2 = () # empty tuple
t3 = (10) # not a tuple (it's an int element)
t4 = (10,) # single element tuple
t5 = 10, 20, 30 # it is also a tuple

In [4]:
type(t5)

tuple

### Accessing tuple elements

In [5]:
t1 = (10, 5, 20, 15)

In [6]:
t1[0]

10

In [7]:
print(t1[1])

5

In [8]:
i = 0
while (i < len(t1)):
    print(t1[i])
    i += 1

10
5
20
15

In [9]:
for a in t1:
    print(a)

10
5
20
15

### useful build-in methods

1. len()
2. min()
3. max()
4. sum()
5. sorted()

In [12]:
t1 = (10, 20)
t2 = (11, 22, 33)

# Concatenate two tuples
result1 = t1 + t2
print(result1)

# Repetition Operator
result2 = t2 * 3
print(result2)

(10, 20, 11, 22, 33)
(11, 22, 33, 11, 22, 33, 11, 22, 33)

### Tuple object method

1. index()
2. count()

### Slicing Operator

In [13]:
# t1[begining: end : steps]

### tuple user input

In [14]:
t1 = tuple([int(e) for e in input("Enter numbers separated by comma").split(',')])
t1

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)